*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.intro{
	background: #EAF0F1;
}
h1{
	color: #317e2e;
	font-weight: bold;
	transition: 0.5s;
	text-align: center;
}
h3{
	color:#2F363F;
}

button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#317e2e; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#4C4B4B;
}
footer{
	color:#586776;
	background-color:#EAF0F1;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
.im{
	width: 180px;
	height: 180px;
}
.action{
	text-align: center;
	text-decoration: underline;
	font-family: 'Roboto Slab', serif;
}

@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 40px;
	}
	.act{
		padding-bottom: 100px;
	}

}